{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <h2>{{ object.title }}</h2>
    <p><strong>Посада:</strong> {{ object.desire_pos }}</p>
    <p><strong>Зарплата:</strong> {{ object.salary }}</p>
    <p><strong>Ім'я:</strong> {{ object.first_name }} {{ object.last_name }}</p>
    <p><strong>Телефон:</strong> {{ object.phone }}</p>
    <p><strong>Email:</strong> {{ object.email }}</p>
    <p><strong>Досвід роботи:</strong> {{ object.experience }}</p>
    <p><strong>Освіта:</strong> {{ object.education }}</p>
    <p><strong>Додаткова інформація:</strong> {{ object.additional_info }}</p>

    <a href="{% url 'resume_update' object.pk %}" class="btn btn-warning">Редагувати</a>
    <a href="{% url 'resume_delete' object.pk %}" class="btn btn-danger">Видалити</a>
    <a href="{% url 'resume_list' %}" class="btn btn-secondary">Повернутися до списку</a>
</div>
{% endblock %}
