<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Resume Builder</title>
    {% load static %}
    <link rel="stylesheet" type='text/css' href="{% static 'style.css' %}">
</head>
<body>
    <nav>
        <div class="Home">
        <a href="{% url 'home' %}">Головна</a>
        </div>
        {% if user.is_authenticated %}
        <div class="acc1">
            <a href="{% url 'profile' %}">Профіль</a>
            <a href="{% url 'logout' %}">Вихід з акаунту</a>
        </div>
        {% else %}
        <div class="reg1">
            <a href="{% url 'login' %}">Увійти в акаунт</a>
            <a href="{% url 'register' %}">Зареєструватися</a>
        </div>
        {% endif %}
    </nav>
    {% block content %}{% endblock %}
</body>
</html>
