<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body>
    {% extends 'base.html' %}

    {% block content %}
      <h2>Регестрація</h2>
      <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Регестрація</button>
      </form>
      <p>Вже є акаунт? <a href="{% url 'login' %}">Увійти тут</a></p>
    {% endblock %}    
</body>
</html>